<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See LICENSE in the project root for license information. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.office365.connect" >

    <!-- Required to connect to Office 365 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to use outlook services -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ConnectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendMailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.microsoft.office365.connect.ConnectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.microsoft.office365.connect.ConnectActivity" />
        </activity>
        <activity
            android:name="com.microsoft.aad.adal.AuthenticationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>