<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (c) Microsoft. All rights reserved. Licensed under the MIT license. See full license at the bottom of this file. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.microsoft.office365.connect" >

    <!-- Required to connect to Office 365 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to use outlook services -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ConnectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SendMailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:parentActivityName="com.microsoft.office365.connect.ConnectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.microsoft.office365.connect.ConnectActivity" />
        </activity>
        <activity
            android:name="com.microsoft.aad.adal.AuthenticationActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>

<!-- *********************************************************

     O365-Android-Connect, https://github.com/OfficeDev/O365-Android-Connect

     Copyright (c) Microsoft Corporation
     All rights reserved.

     MIT License:
     Permission is hereby granted, free of charge, to any person obtaining
     a copy of this software and associated documentation files (the
     "Software"), to deal in the Software without restriction, including
     without limitation the rights to use, copy, modify, merge, publish,
     distribute, sublicense, and/or sell copies of the Software, and to
     permit persons to whom the Software is furnished to do so, subject to
     the following conditions:

     The above copyright notice and this permission notice shall be
     included in all copies or substantial portions of the Software.

     THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
     EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
     MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
     NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
     LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
     OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
     WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

     ********************************************************* -->